<!DOCTYPE html>
<html>
<head>
  <title>PersonalWebsite</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body>

  <html>
<head>

  <title>stalactite : A jQuery plugin</title>

  <meta name="keywords" content="stalactite, jquery, plugin, packing, javascript, lazy, image, grid, sorting, minimal" />
  <meta name="author" content="jonobr1" />
  <meta name="description" content="stalactite is a jQuery plugin to lazily sort and pack an elements' contents." />

  <link href="c/gs.css" media="screen" rel="stylesheet" type="text/css" />
  <link href="c/style.css" media="screen" rel="stylesheet" type="text/css" />

  <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
  <script type="text/javascript" src="j/jquery.stalactite.js"></script>
  <!-- // <script type="text/javascript" src="j/jquery.stalactite.min.js"></script> -->
  <script type="text/javascript">
    //<![CDATA[

      $(function() {

        $('#css-example-a').click(function(e) {
          e.preventDefault();
          $(this).parent().addClass('active');
          $('#css-example').stalactite({
            fluid: false,
            cssPrep: false
          });
          updateLoader(function() {
            $('#css-example').fadeIn();
          });
        });

        $('#fluid-example-a').click(function(e) {
          e.preventDefault();
          $(this).parent().addClass('active');
          $('#fluid-example').stalactite();
          updateLoader(function() {
            $('#fluid-example').fadeIn();
          });
        });

        $('#static-example').stalactite({
          fluid: false
        });
        updateLoader();

        function updateLoader(callback) {
          setTimeout(function() {
            $('.stalactite-loader')
              .css({
                position: 'fixed',
                background: '#fff',
                padding: '20px 20px 15px 20px',
                top: 0,
                left: 0
              });
              if (callback) {
                callback.call(this);
              }
          }, 1);
        }

      });

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-5927630-16']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : '//www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();

    //]]>
  </script>
</head>
<body>

 


<%= yield %>

</body>
</html>
